<html>
<head>
    <title>FB demo</title>
</head>
<body>
    <a href='/'>home</a>
    <br/>
    <div id="fb-root"></div>
    <hr/>
    <h3>Launch FB auto request:</h3>
    <a href='javascript:my_script()'>click me to join our app</a>

    <br/><br/>
    <a href='http://facebook.stackoverflow.com/questions/10248675/fb-ui-apprequests-dialog-popup-goes-blank-and-invitations-are-not-sent'> Problems with FB window not closing</a>

    <script src="https://connect.facebook.net/en_US/all.js"></script>
    <script>
        FB.init({
            appId  : "{{fb_app_id}}",
            status : true, // check login status
            cookie : true, // enable cookies to allow the server to access the session
            xfbml  : true, // parse XFBML
            //channelUrl : 'http://localhost:8888/channelUrl',
            oauth  : true // enable OAuth 2.0
        });

        function my_script() {
            FB.ui({ method: 'apprequests',
                    message: 'Join our app ',
                },
                function(response) {
                    alert('callback')
                }
            );
        }
    </script>
</body>

</html>
