<html>
<body>
Hello {{user}} <a href='logout'>logout</a> <br/><br/>


<a href='message'>send new message</a>
<br/>
<a href='grav'>gravatar demo</a>
<br/>
<a href='tail'>Tailing the contents of data/to_read.txt</a>
<br/>
<a href='/pusher'>Data Pusher</a>
<br/>
<a href='/matcher/nice/'>Wildcard Matcher good url</a>
<br/>
<a href='/matcher/badbit/'>Wildcard Matcher bad url</a>


<p>HTML demos:</p>
<a href='notification?notification=A_message_4_you'>notifications</a>
<br/>
<a href='slidy'>slidy</a>
<br/>
<a href='popup'>popup windows</a>
<br/>
<a href='fb_demo'>Facebook demo</a>
<br/>

<br/>
<br/>

Messages sent:

<table>
	<th>From</th>
	<th>To</th>
	<th>Message</th>
	{% for m in messages %}
		<tr>
			<td>{{ m['from']}}</td>
			<td>{{ m['to']}}</td>
			<td>{{ m['message']}}</td>
		</tr>
	{% end %}
</table>

</body>
</html>
