<html>
<head>
    <title>Popup</title>
      <link href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery-ui.css" rel="stylesheet" type="text/css"/>
</head>
<body>
    <a href='/'>home</a>
    <br/>
    <hr/>

    <br/>
    <h3>Popup:</h3>

    <div id="dialog" title="Dialog Title">I'm in a dialog</div>

    <script src="../static/js/jquery-1.7.2.min.js"></script>
    <script src="../static/js/jquery-ui-1.8.20.custom.min.js"></script>
    <script>
    $(document).ready(function() {
        $("#dialog").dialog();
    });
    </script>
</body>

</html>
