<html>
<head>
	<title>Popup</title>
    <link href="../static/css/popup.css" rel="stylesheet" />
</head>
<body>
	<a href='/'>home</a>
	<br/>
	<hr/>
	A beautiful popup from this
	<a href='http://www.alessioatzeni.com/blog/login-box-modal-dialog-window-with-css-and-jquery/'>tutorial</a><br/>

	<hr/>
	<a href="#login-box" class="login-window">Click HERE to see popup</a>
	<br/>

	<div id="login-box" class="login-popup">
        <a href="#" class="close" >
        	<img src="/static/img/close_pop.png" class="btn_close" title="Close Window" alt="Close" />
        </a>
      	<form method="post" class="signin" action="#">
            <fieldset class="textbox">
	        	<label class="username">
	            <span>Username or email</span>
	            <!-- placeholder is chrome/safari only -->
	            <input id="username" name="username" value="" type="text" autocomplete="on" placeholder="Username">
	            </label>
	            <label class="password">
	            <span>Password</span>
	            <input id="password" name="password" value="" type="password" placeholder="Password">
	            </label>
	            <button class="submit button" type="button">Sign in</button>
	            <p>
	            	<a class="forgot" href="#">Forgot your password?</a>
	            </p>
            </fieldset>
      	</form>
	</div>
    <script src="/static/js/jquery-1.7.2.min.js"></script>
    <script>
		$(document).ready(function() {
			$('a.login-window').click(function() {

		        //Getting the variable's value from a link
				var loginBox = $(this).attr('href');

				//Fade in the Popup
				$(loginBox).fadeIn(300);

				//Set the center alignment padding + border see css style
				var popMargTop = ($(loginBox).height() + 24) / 2;
				var popMargLeft = ($(loginBox).width() + 24) / 2;

				$(loginBox).css({
					'margin-top' : -popMargTop,
					'margin-left' : -popMargLeft
				});

				// Add the mask to body
				$('body').append('<div id="mask"></div>');
				$('#mask').fadeIn(300);

				// ESC -> close window
				$(document).bind('keydown', function(e) {
		            if (e.which == 27) {
		               $('.mask').remove();
		            }
		        });

				// Select first input / textarea in popup
				var input = $('.login-popup').find("input:first, textarea:first")
		        if (input[0] != null) {
		            input[0].focus();
		        }

				return false;
			});

			// When clicking on the button close or the mask layer the popup closed
			$('a.close, #mask').live('click', function() {
			  $('#mask , .login-popup').fadeOut(300 , function() {
				$('#mask').remove();
			});
			return false;
			});
		});
	</script>

</body>
</html>
